# idea
.idea/
*.iml

# maven/
target

# JRebel
rebel.xml

/questionnaire-sms/src/main/resources/ihuyiAccount.properties
/questionnaire-email/src/main/resources/emailAccount.properties
/questionnaire-ipAddress/src/main/resources/ipAddress.properties